body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-image: linear-gradient(#d7e1ec, #ffffff);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100;
  min-width: 610px;
  height: 100;
  background-color: #28282B;
}

#brandname a {
  text-decoration: none;
  padding: 15px 30px;
  margin: 0;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #CBC3E3;
}

#brandname a:hover {
  color: #faebd7;
}

.links {
  list-style-type: none;
  float: right;
  padding: 0px 10px;
  font-size: 25px;
  margin: 0 20px;
}

.links a {
  text-decoration: none;
  color: #CBC3E3;
}

.links a:hover {
  color:#faebd7;
}

#contact {
  background-color: #C41E3A;
  padding: 2px 15px;
  border-radius: 10px;
}

.hero-container {
  display: flex;
}

.names-container {
  width: 24%;
  height: 62%;
  margin: 20px 30px 0;
  border-radius: 10px;
  background-color: #E85A4F;
  position: absolute;
}

#roommate {
  margin: 0;
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

#form {
  display: flex;
  justify-content: space-between;
}

#roommateContainer {
  background-color: #FA8072;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 95px;
}

.names {
  width: 100%;
  position: relative;
  top: 15px;
  border-radius: 10px 10px;
}

.input-container {
  margin-top: 10%;
}

.input-text {
  margin: 15px 10px 15px 0px;
  width: 75%;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-family: Helvetica;
  position: relative;
  left: 5%;
}

.input-text[type=text]:focus {
  outline: none;
  border: 2px solid #8b0017;
}

.input-button {
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  margin: 15px 0;
  background-color: white;
  color: #E85A4F;
  position: relative;
  font-size: 25px;
  right: 4%;
}

.input-button:hover {
  color: #E85A4F;
  background-color: #dcdcdc;
}

.listContainer {
  margin: 0 2%;
}

.listContent {
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-size: 18px;
  margin: 9px 3%;
  border-radius: 4px;
}

.roomie {
  margin: 2px 3%;
}

.trashIcon {
  float: right;
  margin: 4px 5px;
}
.trashIcon:hover {
  color: grey;
}

.chores-container {
  width: 25%;
  height: 85%;
  margin: 20px 30px 0 30%;
  border-radius: 10px;
  background-color:#EAE7DC;
  position: absolute;
  min-width: 214px;
}

.chores-header {
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 10px;
  background-color: #D8C3A5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#chore-title {
  margin: 10px;
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
  position: relative;
  top: 10%;
  color: #E85A4F;
}

#chore-form {
  display: flex;
  justify-content: space-around;
}

.chore-input-text {
  position: relative;
  bottom: 6px;
  left: 4%;
  width: 50%;
  min-width: 50px;
  padding: 10px 0px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-family: Helvetica;
  background-color: white;
}

.chore-input-text[type=text]:focus {
  outline: none;
  border: 2px solid #564F6F;
}

.difficulty-container {
  display: flex;
  margin: 0 4%;
  height: 36.5px;
  background-color: white;
  position: relative;
  bottom: 5px;
  left: 2.5px;
  border-radius: 4px;
}

#difficulty-level {
  padding: 0px 16px;
  position: relative;
  bottom: 15%;
}

.difficulty-plus{
  padding: 9px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #A7C7E7;
  color: white;
}
.difficulty-minus {
  padding: 10px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #A7C7E7;
  color: white;
}

.difficulty-plus:hover, .difficulty-minus:hover {
  background-color: #7393B3;
}

.chore-input-button {
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  background-color: white;
  color: #4C495D;
  position: relative;
  bottom: 5px;
  font-size: 25px;
  right: 2%;
}

.chore-input-button:hover {
  background-color: #dcdcdc;
}

.chore-content-container {
  position: relative;
  bottom: 11px;
}

.chore-content {
  display: flex;
  justify-content: space-between;
  margin: 3%;
  background-color: white;
  border-radius: 5px;
}

#chore-content-right {
  display: flex;
}

#chore-name, #chore-difficulty {
  font-family: Helvetica;
  margin: 4px 12px 4px 10px;
  font-size: 15px;
}

#trashIcon-chores {
  position: relative;
  top: 2px;
}

.pagination-bar-container {
  display: flex;
  position: absolute;
  top: 590px;
  left: 28.5%;
}

#page-minus, #page-plus {
  padding: 10px;
  height: 50%;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  box-shadow: 1px 1px 1px grey;
  background-color: #6fbbd3;
  color: #6E260E;
}

#page-minus:hover, #page-plus:hover {
  background-color: #bcd4e6;
  color: #23395D;
}

#currPage {
  font-size: 15px;
  position: relative;
  bottom: 15px;
  color: white;
  background-color: #E85A4F;
  padding: 10px 15px;
  border-radius: 100%;
}

.objects-container {
  width: 40%;
  height: 100%;
  position: absolute;
  left: 57.5%;
  top: 75px;
}

.object-content-container {
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.object-content-container .object-content {
  display: flex;
  justify-content: space-around;
  background-color: #152238;
  width: 153px;
  min-height: 10px;
  padding: 12.5% 0 13% 0;
  margin: 10px 2%; 
  color: #68BB59;
  border-radius: 10px;
}

.object-name, .object-difficulty {
  font-size: 15;
  margin: 0 10px;
  text-align: center;
  
}

.object-difficulty {
  margin-right: 10px;
  background-color: #707070;
  color: white;
  padding: 20px;
  position: relative;
  bottom: 20px;
}
